<div class="heading-bar">
  <span class="label" title="Tutoring Hours">Remaining Credits:</span>
  <span class="value">5</span>
  {{input class="search" type="textfield" value=headingBarSearch id="headingBarSearch" placeholder="Search Tutors"}}
</div>
<div class="partition">
  <div class="one-third">
    <div class="titled-box">
      <div class="title">Weekly Tutoring Hours</div>
      <div class="scheduled-hours">
          <div class="hour">
            <div class="text">
              <div class="datetime">Monday 13:00 - 14:00</div>
              <div class="time-remaining">Starts in 1 Day</div>
              <div class="email">kamal@komensky.org</div>
            </div>
            <div class="remove">X</div>
          </div>
      </div>
    </div>
    <!--<div class="titled-box">-->
      <!--<div class="title">Download Excel Report</div>-->
      <!--<div class="content">-->
        <!--<form class="form-1" action="">-->
          <!--Start Date-->
          <!--{{input type="textfield" value=reportDateStart id="reportDateStart" placeholder="Day-Month-Year"}}-->
          <!--End Date-->
          <!--{{input type="textfield" value=reportDateEnd id="reportDateEnd" placeholder="Day-Month-Year"}}-->
          <!--<button class="button-green">Download</button>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="two-thirds">
    <div class="form-1">{{view Ember.Select content=weekDays value=weekDay}}</div>
    <div class="student-session-periods">
      {{#each sessionPeriodGroups}}
        hour: {{hour}}
        {{#each contents}}
          {{tutor.fullName}}
        {{/each}}
        <hr/>
      {{/each}}
    </div>
  </div>
</div>