<h2>My Tutoring Sessions</h2>
<table class="student-session-periods" cellspacing="0">
  <tbody>
  {{#each enrolledSessionPeriods}}
    <tr>
      <td colspan="3" class="hour">
        <span class="time-range">{{weekDayName}} {{hour}}:00 - {{endingHour}}:00</span>
        <span class="begins-in">{{beginsIn}}</span>
      </td>
    </tr>
    <tr class="tutor">
      <td class="tutor-name">{{tutor.fullName}}</td>
      <td>{{otherStudents}}
      <td>
        {{#if joined}}
          <button {{action 'joinSessionPeriod' this}} class="button-blue">Join</button>
        {{else}}
          <button {{action 'leaveSessionPeriod' this}} class="button-blue">Leave</button>
        {{/if}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td class="empty-table-message">You have not registered for any tutoring sessions.
        <b>You can join some below!</b></td>
    </tr>
  {{/each}}
  </tbody>
</table>
<div class="heading-bar">
  {{view Ember.Select content=availableWeekDays value=weekDay class="drop-down"}}
  {{input class="search" type="textfield" value=tutorNameFilter id="headingBarSearch" placeholder="Search Tutors"}}
</div>
<h2>Lessons available on {{weekDay}}:</h2>
<table class="student-session-periods" cellspacing="0">
  <tbody>
  {{#each sessionPeriodGroups}}
    <tr>
      <td colspan="3" class="hour">
        <span class="time-range">{{hour}}:00 - {{endingHour}}:00</span>
        <span class="begins-in">{{beginsIn}}</span>
      </td>
    </tr>
    {{#each sessionPeriods}}
      <tr class="tutor">
        <td class="tutor-name">{{tutor.fullName}}</td>
        <td {{bind-attr class=":students sessionRegistrations::none"}}>
          {{presentStudents}}
        </td>
        <td>
          {{#if userInvolved}}
            <button {{action 'leaveSessionPeriod' this}} class="cell-button-grey">Leave</button>
          {{else}}
            <button {{action 'joinSessionPeriod' this}} class="cell-button-blue">Join</button>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  {{/each}}
  </tbody>
</table>
