<div class="titled-box">
  <div class="title">Change Password</div>
  <div class="content">
    <form class="form-1" {{action 'changePassword' on='submit'}}>
      {{#field-validated field=model.fields.oldPassword}}
        {{input type="password" value=model.fields.oldPassword.value placeholder="Old password"}}
      {{/field-validated}}
      <br>
      {{#field-validated field=model.fields.password}}
        {{input type="password" value=model.fields.password.value placeholder="Password"}}
      {{/field-validated}}
      {{#field-validated field=model.fields.repeatPassword}}
        {{input type="password" value=model.fields.repeatPassword.value placeholder="Repeat password"}}
      {{/field-validated}}
      <button {{bind-attr class=":button-blue :button-large model.valid::disabled"}}>Change Password</button>
      <span {{bind-attr class=":loading-message loading:visible"}}>Changing Password ...</span>
      {{submissionError}}
    </form>
  </div>
</div>