<div id="home-middle">
  <div class="centerer">
    <div id="sign-up">
      <div id="message">
        Don't have an account yet?
        <div id="suggestion">
          Just <b>Sign Up</b> below:
      </div>
      </div>
      <form class="form1" action="">
        {{input type="text" value=fullName id="fullName" placeholder="Full name"}}
        {{input type="email" value=emailAddress id="emailAddress" placeholder="Email address"}}
        {{input type="password" value=password id="password" placeholder="Password"}}
        {{input type="password" value=repeatPassword id="repeatPassword" placeholder="Repeat password"}}
        {{#if response}}
          <div class="error-response">
            {{response}}
          </div>
        {{/if}}
        <button {{action 'signUp'}} class="button-green button-wide">Sign Up</button>
      </form>
    </div>
    <div id="info">
      <ul>
        <li id="tutors">Live {{#link-to 'guest.tutors' class="white-link"}}Tutors{{/link-to}}</li>
        <li id="arabic_types">Spoken and Formal Arabic</li>
        <li id="scheduling">An Online Scheduling System</li>
        <li id="courses">A Varienty of Courses</li>
      </ul>
    </div>
  </div>
</div>