<form class="form-1" {{action 'elinguaLogin' on='submit'}}>
  <h2>Login</h2>
  {{#field-validated field=form.fields.emailAddress}}
    {{input type="email" value=form.fields.emailAddress.value placeholder="Email address"}}
  {{/field-validated}}
  {{#field-validated field=form.fields.password}}
    {{input type="password" value=form.fields.password.value placeholder="Password"}}
  {{/field-validated}}
  <button type="submit" {{bind-attr class=":button-blue :button-large form.valid::disabled"}}>Login</button>
  <span {{bind-attr class=":loading-message loading:visible"}}>Logging in ...</span>
  {{submissionError}}
</form>
