<div class="heading-bar">
  {{input class="search" type="textfield" value=headingBarSearch id="headingBarSearch" placeholder="Search Tutors"}}
</div>
<div class="partition">
  <div class="one-third">
    <div class="titled-box">
      <div class="title">Hourly Tutor Payment</div>
      <div class="content">
        <div class="form-1">
          {{#field-validated field=updateTutorPayForm.fields.tutorPay}}
            {{input type="textfield" value=updateTutorPayForm.fields.tutorPay.model.value placeholder="JD per Hour"}}
            <div class="message-next-line">
              {{updateTutorPayFormResponse}}
              <div {{bind-attr class=":loading-message updateTutorPayFormLoading:visible"}}>Updating Tutor Pay ...</div>
            </div>
          {{/field-validated}}
        </div>
      </div>
    </div>
    <div class="titled-box">
      <div class="title">Download Excel Report</div>
      <div class="content">
        <form class="form-1" {{action 'updateTutorPay' on='submit'}}>
          Start Date
          {{input type="textfield" value=reportDateStart id="reportDateStart" placeholder="Day-Month-Year"}}
          End Date
          {{input type="textfield" value=reportDateEnd id="reportDateEnd" placeholder="Day-Month-Year"}}
          <div class="text">
            Select a Tutor, or
          </div>
          <button class="button-green">Download (All Tutors)</button>
        </form>
      </div>
    </div>
    <div class="titled-box">
      <div class="title">Add Tutor</div>
      <div class="content">
        <form class="form-1" {{action 'addTutor' on='submit'}}>
          {{#field-validated field=addTutorForm.fields.fullName}}
            {{input type="textfield" value=addTutorForm.fields.fullName.value placeholder="Full name"}}
          {{/field-validated}}
          {{#field-validated field=addTutorForm.fields.emailAddress}}
            {{input type="email" value=addTutorForm.fields.emailAddress.value placeholder="Email address"}}
          {{/field-validated}}
          <button type="submit" {{bind-attr class=":button-blue :button-large addTutorForm.valid::disabled"}}>Send Email</button>
          <div class="message-next-line">
            {{addTutorFormResponse}}
            <div {{bind-attr class=":loading-message addTutorFormLoading:visible"}}>Creating Account ...</div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="two-thirds">
    <table cellspacing="0" class="user-list">
      <tbody>
      {{#each model}}
        <tr>
          <td>{{fullName}}<br> <span class="email">{{emailAddress}}</span></td>
          <td>{{moneyOwed}} JD Owed <a class="button-blue add-credits">Paid</a></td>
          <td><a class="link-black">Download Report</a></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
