<!--<div class="heading-bar">
  <span class="label">Credits Earned this Month:</span>
  <span class="value">29</span>
  {{input class="search" type="textfield" value=headingBarSearch id="headingBarSearch" placeholder="Search Students"}}
</div>-->
<div class="partition">
  <div class="one-third">
    <div class="titled-box">
      <div class="title">Add Session Periods</div>
      <div class="content">
        <form class="form-1" {{action 'addTutoringHours' on='submit'}}>
          {{view Ember.Select content=addHours.fields.day.options value=addHours.fields.day.value}}
          {{#field-validated field=addHours.fields.startTime}}
            {{input class="time-range" type="textfield" value=addHours.fields.startTime.value placeholder="00"}}
            <b>:00</b>
            <span class="time-range-label">to</span>
          {{/field-validated}}
          {{#field-validated field=addHours.fields.endTime}}
            {{input class="time-range" type="textfield" value=addHours.fields.endTime.value placeholder="00"}}
            <b>:00</b>
          {{/field-validated}}
          <button type="submit" {{bind-attr class=":button-blue :button-large addHours.valid::disabled"}}>
            Add Hours
          </button>
          <span {{bind-attr class=":loading-message addHoursLoading:visible"}}>Adding Hours ...</span>

          <span class="message-next-line">
            {{addHoursResponse}}
          </span>
        </form>
      </div>
    </div>
    <!--
    <div class="titled-box">
      <div class="title">Download Excel Report</div>
      <div class="content">
        <form class="form-1" action="">
          Start Date
          {{input type="textfield" value=reportDateStart id="reportDateStart" placeholder="Day-Month-Year"}}
          End Date
          {{input type="textfield" value=reportDateEnd id="reportDateEnd" placeholder="Day-Month-Year"}}
          <button class="button-green">Download</button>
        </form>
      </div>
    </div>
    -->
  </div>
  <div class="two-thirds tutors-available-hours">
    <div class="form-1">
      {{view Ember.Select content=addHours.fields.day.options value=countedDayName}}
    </div>
    {{#each model}}
      <div {{bind-attr class=":hour student::empty"}}>
        <div>
          <span class="student-name">
            {{#if student}}
              {{student.fullName}}
              <div class="email">{{student.emailAddress}}</div>
            {{else}}
              Empty
            {{/if}}
          </span>
        </div>
        <div class="hour-range">{{hour}}:00 - {{endingHour}}:00</div>
        <div class="right">
          <div class="begins-in"><b>{{beginsIn}}</b></div>
          <button class="button-grey remove" {{action 'removeSessionPeriod' this}}>Remove</button>
        </div>
      </div>
    {{else}}
      You have not added any session periods for <b>{{countedDayName}}</b> yet.
    {{/each}}
  </div>
</div>