<form class="large" {{action "signUp" on="submit"}}>
  <h1>Sign Up</h1>
  {{input value=form.fullName type="text" placeholder="Full Name"}}<br>
  {{input value=form.emailAddress type="email" placeholder="Email Address"}}<br>
  {{input value=form.password type="password" placeholder="Password"}}<br>
  {{input value=form.repeatPassword type="password" placeholder="Repeat Password"}}<br>
  <div class="response-message-area" >{{form.responseMessage}}</div>
  <button class="green-button" type="submit">Sign Up</button>
</form>